/* Main content styling for all pages */

body{
	height: 100%;
    background-image: url("https://images5.alphacoders.com/668/668183.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 80px;
}

.well{
	opacity: 0.9;
}

#left-side, #right-side{
	height: 400px;
	background-color: black;
	opacity: 0.95;
}

#left-side{
	border: 3px dashed white;
}

#right-side{
	border: 3px dashed white;
}

#answer-image img{
	height: 275px;
	width: 275px;
	margin-left: 5px;
	margin-top: 30px;
	border: 4px solid orange;
}

#rules{
	margin-top: 30px;
}

#letters a{
	color: white;
	background-color: black;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}

#letters a:hover{
	background-color: orange;
	text-decoration: none;	
}

#letters a .picked{
	background-color: white;
}



